<!DOCTYPE html>
<html>
<head>
	<title>Progress Bar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style type="text/css">
    .progress {border: 1px solid rgba(0, 0, 0, 1); 
                border-radius: 4px; height: 20px;}
    .ui-state-default{
      background:#fff;
      border:none;
      border-bottom:1px solid #ddd;
    }
    .task{
      margin-left: 2px;
    }
  </style>
</head>
<body>
	<div class="container">
    <br><br>
    <h2>Task Name</h2>
    <h4 id="total_progress"></h4>
    <br/><br/>
    <div class="progress" id="progressbar" style="height:40px"></div>
    <br>
    <div class="row"><div class="col-md-8"><h4>Next item on your agenda:</h4></div></div>
    <div class="row" id="next_item">
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="todoHeader" style="background-color: #28a745;"><center><h4>Todo</h4></center></div>
        <div class="todolist" id="remainingItems"></div>
      </div>
      <div class="col-md-6">
        <div class="doneHeader" style="background-color: #28a745;"><center><h4>Done</h4></center></div>
        <div class="todolist" id="doneItems"></div>
      </div>
    </div>
  
  </div>

<script type="text/javascript"> 
    window.onload = fetchElements();

  function fetchElements(){
    var tasks = initializeObjects();
    updateStatusAndProgressBar(tasks);
    var firstUndoneTask = updateTodoAndDoneLists(tasks);
    fetchNextItemOnAgenda(firstUndoneTask);
  }

  function initializeObjects(){
    var subtask1_1 = {progress:"not-done", content: "Do this thing first for task1"};
    var subtask1_2 = {progress:"done", content:"Do this thing second for task1"};
    var subtask3_1 = {progress:"done", content: "Do this thing first for task3"};
    var subtask3_2 = {progress:"not-done", content: "Do this thing second for task3"};
    var subtask4_1 = {progress:"done", content: "Do this thing first for task4"};
    var subtask4_2 = {progress:"done", content: "Do this thing second for task4"};
    

    var task1 = {progress:"partially-done", subtasks:{sbtsk1:subtask1_1, sbtsk2:subtask1_2}, content: "Task1"};
    var task2 = {progress:"not-done", subtasks:{}, content: "Task2"};
    var task3 = {progress:"partially-done", subtasks:{sbtsk1:subtask3_1, sbtsk2:subtask3_2}, content: "Task3"};
    var task4 = {progress:"done", subtasks:{sbtsk1:subtask4_1, sbtsk2:subtask4_2}, content: "Task4"};

    var tasks = {t1: task1, t2:task2, t3:task3, t4: task4};
    return tasks;
  }

  function updateTodoAndDoneLists(tasks){
    var task = fetchRemainingItems(tasks);
    fetchDoneItems(tasks);
    return task;
  }

  function updateStatusAndProgressBar(tasks){
    calculateProgress(tasks);
    fetchProgressBar(tasks);
  }

  function fetchNextItemOnAgenda(firstUndoneTask){
    var htmlString = "<div class=\"col-md-8\">";
    var content = "";
    if(Object.keys(firstUndoneTask.subtasks).length == 0){
      content += firstUndoneTask.content;
    }
    else{
      //getting the first subtask and displaying it.
      for(sbtsk in firstUndoneTask.subtasks){
        var subtask = firstUndoneTask.subtasks[sbtsk];
        if (subtask.progress == "not-done") {
          content += subtask.content;
          break;
        }
      }
    }
    if(content != ""){
      htmlString += "<font size=\"5\">"+content+"</font></div>";
      htmlString += "<div class=\"col-md-4\"><button type=\"button\" class=\"btn btn-success btn-sm\" value=\""+content+"\">Done</button></div>";
    }
    else{
      htmlString += "Congratulations on acheiving the set goal, there are no items remaining on your agenda.</div>";
    }
    document.getElementById("next_item").innerHTML = htmlString;
  }

  function fetchRemainingItems(tasks){
    var htmlString = "<ul class=\"list-unstyled\">";
    var firstUndoneTask;
    var flag = false;
    for(var tsk in tasks){
      var task = tasks[tsk];
      if(task.progress == "not-done"){
        if(!flag){
          flag = true;
          firstUndoneTask = task;
        }
        htmlString += returnUnalteredTask(task, "not-done");
      }
      else if (task.progress == "partially-done") {
        if(!flag){
          flag = true;
          firstUndoneTask = task;
        }
        htmlString += returnPartiallyFilledTask(task, "not-done");
      }
    }
    htmlString += "</ul>";
    document.getElementById("remainingItems").innerHTML = htmlString;
    return firstUndoneTask;
  }

  function fetchDoneItems(tasks){
    var htmlString = "<ul class=\"list-unstyled\">";
    for(var tsk in tasks){
      var task = tasks[tsk];
      if(task.progress == "done"){
        htmlString += returnUnalteredTask(task, "done");
      }
      else if (task.progress == "partially-done") {
        htmlString += returnPartiallyFilledTask(task, "done");
      }
    }
    htmlString += "</ul>";
    document.getElementById("doneItems").innerHTML = htmlString;
  }

  function returnPartiallyFilledTask(task, progressStatus){
    var checkedOrNot = (progressStatus == "done") ? "checked" : "";
    var htmlString = "<li class=\"ui-state-default\"><label><input type=\"checkbox\" value=\"\"/><font class=\"task\" size=\"4\">"+task.content+"</font></label>";
    if (Object.keys(task.subtasks).length != 0){
      htmlString += "<ul>";
      for(sbtsk in task.subtasks){
        var subtask = task.subtasks[sbtsk];
        if(subtask.progress == progressStatus){
          htmlString += "<li class=\"ui-state-default\"><label><input type=\"checkbox\" "+checkedOrNot+"><font class=\"task\" size=\"3\">"+subtask.content+"</font></label></li>";
        }
      }
      htmlString += "</ul>";
    }
    htmlString +="</li>";
    return htmlString;
  }

  function returnUnalteredTask(task, progressStatus){
    var checkedOrNot = (progressStatus == "done") ? "checked" : "";
    var htmlString = "<li class=\"ui-state-default\"><label><input type=\"checkbox\" value=\"\" "+checkedOrNot+"/><font class=\"task\" size=\"4\">"+task.content+"</font></label>";
    if(Object.keys(task.subtasks).length != 0){
      htmlString +="<ul>";
      for(sbtsk in task.subtasks){
        var subtask = task.subtasks[sbtsk];
        htmlString += "<li class=\"ui-state-default\"><label><input type=\"checkbox\"  "+checkedOrNot+"><font class=\"task\" size=\"3\">"+subtask.content+"</font></label></li>";
      }
      htmlString +="</ul>";
    }
    htmlString += "</li>";
    return htmlString;
  }

  function calculateProgress(tasks){
    var progress = 0;
    var numberOfTasks = Object.keys(tasks).length;
    for(var taskNumber in tasks){
      var task = tasks[taskNumber];
      if(task.progress == "partially-done"){
        var subtasks = task.subtasks;
        var numberOfSubtasks = Object.keys(subtasks).length;
        for(sbtsk in subtasks){
          var subtask = subtasks[sbtsk];
          if(subtask.progress == "done"){
            progress += 100/(numberOfTasks * numberOfSubtasks);
          }
        }
      }
      else if(task.progress == "done"){
        progress += 100/(numberOfTasks);
      }
    }
    document.getElementById("total_progress").innerHTML = "Current progress: "+progress +"%";
  }

  function fetchProgressBar(tasks){
    var progressbarString = "";
    var numberOfTasks = Object.keys(tasks).length;
    for(var taskNumber in tasks){
      var task = tasks[taskNumber];
      var percent = 100/numberOfTasks;
      if(task.progress == "not-done"){
        progressbarString += returnEmptyBar(percent);
      }
      else if(task.progress == "partially-done"){
        progressbarString += returnParitalFilledBar(percent, task.subtasks);
      }
      else{
        progressbarString += returnFilledBar(percent);
      }
    }
    document.getElementById("progressbar").innerHTML = progressbarString;
   }

   function returnEmptyBar(percent){
    return "<div class=\"progress-bar bg-white\" style=\"width:"+percent+"%\"></div>";
   }

   function returnFilledBar(percent){
    return "<div class=\"progress-bar bg-success\" style=\"width:"+percent+"%\"></div>";
   }

   function returnParitalFilledBar(percent, subtasks){
    var numberOfSubtasks = Object.keys(subtasks).length;
    percent = percent/numberOfSubtasks;
    var progressbarBufferString = "";
    for(var sbtsk in subtasks){
      var subtask = subtasks[sbtsk];
      if(subtask.progress == "done"){
        progressbarBufferString += returnFilledBar(percent);
      }
      else{
        progressbarBufferString += returnEmptyBar(percent);
      }
    }
    return progressbarBufferString;
   }
</script>
</body>
</html>